.rightbar {
    flex: 4;
}

.rightbarwrapper {
    padding: 20px 20px 0 0;
}
.birthdaycontainer {
    display: flex;
    align-items: center;
}
.birthdayimg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdaytext {
    font-weight: 300;
    font-size: 15px;
}
.rightbarad{
    width: 100%;
    border-radius:10px;
    margin: 30px 0;
}   

.onlinefriends{
    margin-bottom: 20px;    
}
.rightbarfriendlist{
    padding: 0;
    margin: 0;
    list-style: none;
}
